<ion-view view-title="Depth Chart">
  <ion-content style="background-color:{{team.colorCode}}">
    <ion-list>
      <ion-item ng-repeat="chart in team.depth | orderBy:orderByType" href="#/app/teams/{{team.id}}/depth/{{chart.id}}">
        <span style="float:left;" />
        	<!-- <i ng-if="chart.type == 'offense'" class="icon ion-android-radio-button-off" style="margin-right:4px"></i>
        	<i ng-if="chart.type == 'defense'" class="icon ion-android-close" style="margin-right:4px"></i>
        	<i ng-if="chart.type == 'special teams'" class="ion-android-star-outline" style="margin-right:4px"></i> -->
        	{{ chart.type | capitalize }}
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- <ion-footer-bar ng-include="'templates/depth-tabs.html'"></ion-footer-bar> -->
</ion-view>
