<ion-view view-title="{{player.name}}">
  <ion-content class="player-view turf">
    <div class="card">
        <div class="item item-image">
          <img src="{{player.actionshot.url}}">
        </div>
        <div class="element name" style="border-top:4px solid {{team.colorCode}}">
          <span ng-bind="player.name"></span>
          <span class="position" ng-bind="player.position[0].description"></span>
        </div>
        <div class="element logo"><img src="{{team.logo.url}}" /></div>
        <div class="element position">{{player.position.description}}</div>
        <div class="element number">{{player.jerseyNumber}}</div>
        <div class="element thumb"><img src="{{player.headshot.url}}"></div>
    </div>
    <ion-list>
      <ion-item href="#/app/players/{{player.id}}/stats">
        <span class="center">Statistics</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
