<ion-view view-title="{{player.name}}">
  <ion-content>
    <h2 class="left page-title">{{player.name}}</h2>
    <div class="center page-title" style="background-color:{{team.colorCode}}">
        <img src="{{player.images[1].url}}" width="100%" />
    </div>
    <!-- <ion-list>
      <ion-item href="#/app/teams/{{team.id}}/roster">
        <span class="center">Roster</span>
      </ion-item>
      <ion-item href="#/app/teams/{{team.id}}/depth">
        <span class="center">Depth Chart</span>
      </ion-item>
      <ion-item href="#/app/teams/{{team.id}}/injuries">
        <span class="center">Injuries</span>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
